* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bike-home {
    width: 100%;
    min-height: 100vh;
    background: rgb(20, 20, 20);
    color: #fff;
    font-family: Verdana, sans-serif;
}


.bikes-section {
    width: 100%;
    padding: 18px 6% 40px;
}

.bikes-header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 36px;
}

.collection-text {
    color: #070707;
    font-size: 11px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.bikes-header h1 {
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 1px;
}

.bikes-header h1 span {
    color: #f00000;
}

.model-count {
    color: #0c0c0c;
    font-size: 11px;
    letter-spacing: 4px;
    margin-bottom: 5px;
}


.bikes-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
}


.bike-card {
    width: 100%;
    background: #1c1c1c;
    border: 1px solid #2d2d2d;
    border-radius: 7px;
    overflow: hidden;
    transition: 0.3s ease;
}

.bike-card:hover {
    transform: translateY(-6px);
    border-color: red glow;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.45);
}


.bike-image {
    width: 100%;
    height: 230px;
    background: #f0eded;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.bike-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transition: 0.4s ease;
}

.bike-card:hover .bike-image img {
    transform: scale(1.04);
}


.bike-info {
    padding: 24px 20px 20px;
}

.bike-model {
    color: #999999;
    font-size: 11px;
    margin-bottom: 9px;
}

.bike-info h2 {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 14px;
}

.bike-price {
    color:#ff2b1a;
    font-size: 16px;
    font-weight: bold;
}


@media (max-width: 1000px) {

    .bikes-section {
        padding-left: 4%;
        padding-right: 4%;
    }

    .bikes-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 650px) {

    .bikes-section {
        padding: 20px 5% 35px;
    }

    .bikes-header {
        align-items: flex-start;
    }

    .bikes-header h1 {
        font-size: 27px;
    }

    .collection-text {
        font-size: 9px;
        letter-spacing: 3px;
    }

    .model-count {
        font-size: 9px;
        letter-spacing: 2px;
    }

    .bikes-grid {
        grid-template-columns: 1fr;
        gap: 22px;
    }

    .bike-image {
        height: 220px;
    }

}